doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title MyAP.Ml
    link(rel='icon' type='image/png' href='favicon.png')
    link(rel='stylesheet' href='css/main.css')
  body
    #total
    #frequency
    #pie
    #scripts
      script(type='text/javascript' src='bower_components/jquery/dist/jquery.min.js')
      script(type='text/javascript' src='bower_components/d3/d3.min.js')
      script(type='text/javascript' src='bower_components/randomcolor/randomColor.js')
      script(type='text/javascript' src='js/main.js')
